@import url(https://fonts.googleapis.com/css?family=Lato);
body { /* sets font and background type*/
  color: white;
  font: "Lato", Arial, sans-serif;
  font-size: 2em;
}



.image {
  background-image: url("images/backgroundImage.jpg");
  background-color: #cccccc;
  height: 920px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #557a95;
  border: 5px solid #557a95;
  border: 6px solid #5d5c61;
  background-color:#557a95 ;

}

a, a:visited {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
